body {
  /* background: #3CB371;
  background: #6FDAAA; */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4096ee+0,3cb371+0,6fdaaa+100 */
  /* background: #4096ee;
  background: -moz-linear-gradient(top, #4096ee 0%, #3cb371 0%, #6fdaaa 100%);
  background: -webkit-linear-gradient(top, #4096ee 0%,#3cb371 0%,#6fdaaa 100%);
  background: linear-gradient(to bottom, #4096ee 0%,#3cb371 0%,#6fdaaa 100%); */
}

.yellow-background {
  background: -moz-linear-gradient(45deg, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,222,173,1)), color-stop(100%, rgba(222,184,135,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,222,173,1) 0%, rgba(222,184,135,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEB887', endColorstr='#FFDEAD',GradientType=1 ); /* ie6-9 */
}
.blue-background {
  background: -moz-linear-gradient(45deg, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(135,206,250,1)), color-stop(100%, rgba(30,144,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E90FF', endColorstr='#87CEFA',GradientType=1 ); /* ie6-9 */
}

.grey-background {
  background: -moz-linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(169,169,169,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(211,211,211,1)), color-stop(100%, rgba(169,169,169,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(169,169,169,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(169,169,169,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(169,169,169,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(211,211,211,1) 0%, rgba(169,169,169,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A9A9A9', endColorstr='#D3D3D3',GradientType=1 ); /* ie6-9 */
}

.red-background {
  background: -moz-linear-gradient(45deg, rgba(255,192,203,1) 0%, rgba(219,112,147,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,192,203,1)), color-stop(100%, rgba(219,112,147,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,192,203,1) 0%, rgba(219,112,147,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,192,203,1) 0%, rgba(219,112,147,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,192,203,1) 0%, rgba(219,112,147,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,192,203,1) 0%, rgba(219,112,147,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DB7093', endColorstr='#FFC0CB',GradientType=1 ); /* ie6-9 */
}

.green-background {
  background: -moz-linear-gradient(45deg, rgba(60,179,113,1) 0%, rgba(111,218,170,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(60,179,113,1)), color-stop(100%, rgba(111,218,170,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(60,179,113,1) 0%, rgba(111,218,170,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(60,179,113,1) 0%, rgba(111,218,170,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(60,179,113,1) 0%, rgba(111,218,170,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(60,179,113,1) 0%, rgba(111,218,170,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6FDAAA', endColorstr='#3CB371',GradientType=1 ); /* ie6-9 */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center {
  float: none;
  margin: 0 auto;
}

.context-card {

}

.context-card:hover {
  border: 1px solid #AAA;
  /* box-shadow: 5px 5px 15px -7px #000000; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
